# ----------------------------------------
# Unity
# ----------------------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# ----------------------------------------
# Visual studio / Editeur de code
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# ----------------------------------------
# Système d'exploitation
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Fichiers temporaires / Backups
# ----------------------------------------
Assets/_Recovery/