:root {
}

.title {
    background-size: contain;
    height: 207px;
    width: 100%;
}

.btn {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    align-items: center;
    align-content: auto;
}
